body {
    font-family: Arial, sans-serif;
    background-color: #060606;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    background-color: white;
    margin: 2em auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

h1::before {
    content: url('Lamborghini-Logo.svg.png'); 
    position: absolute;
    left: 10px;
    width: 10px;
    height: 30px; 
}
h1::before {
    transform: scale(0.05);
}
h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="url"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.car-info {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
}

.car-info img {
    max-width: 100%;
    border-radius: 5px;
}

.cars-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.car-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.car-card img {
    width: 100%;
    height: auto;
}

.car-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.car-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}